








/* Hero section */
#navbar {
    display: flex;
    min-height: 90px;
    background-color: #ef233c;
  }
  #navbar .logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar .nav-menu {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar .nav-menu .nav {
    display: flex;
    list-style-type: none;
    margin-left: 30%;
  }
  #navbar .nav-menu .nav li {
    display: block;
    margin-right: 40px;
  }
  #navbar .nav-menu .nav li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
  }